[defaults]
remote_user      = __REMOTE_USER__
private_key_file = __PRIVATE_KEY__
inventory        = __ANSIBLE_HOSTS___
forks            = 40

[ssh_connection]
ssh_args = -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
